In [16]:
from sqlalchemy import Column
from sqlalchemy import ForeignKey
from sqlalchemy import Integer
from sqlalchemy import String
from sqlalchemy.orm import declarative_base
from sqlalchemy.orm import relationship

# Declare Declare a Mapping Class 

Base = declarative_base()

class User(Base):
    __tablename__ = "user_account"
    id = Column(Integer, primary_key=True)
    name = Column(String(30))
    fullname = Column(String)
    addresses = relationship(
        "Address", back_populates="user", cascade="all, delete-orphan"
    )
    def __repr__(self):
        return f"User(id={self.id!r}, name={self.name!r}, fullname={self.fullname!r})"

class Address(Base):
    __tablename__ = "address"
    id = Column(Integer, primary_key=True)
    email_address = Column(String, nullable=False)
    user_id = Column(Integer, ForeignKey("user_account.id"), nullable=False)
    user = relationship("User", back_populates="addresses")
    def __repr__(self):
        return f"Address(id={self.id!r}, email_address={self.email_address!r})"

In [17]:
from sqlalchemy import create_engine
engine = create_engine("sqlite:////Users/ZXu/Documents/ztest/demo.db", echo=True, future=True)

In [18]:
Base.metadata.create_all(bind=engine)
# Base.metadata.drop_all(bind=engine)

2022-07-05 10:39:17,534 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-05 10:39:17,537 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user_account")
2022-07-05 10:39:17,538 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-05 10:39:17,539 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("user_account")
2022-07-05 10:39:17,540 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-05 10:39:17,541 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("address")
2022-07-05 10:39:17,542 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-05 10:39:17,543 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("address")
2022-07-05 10:39:17,544 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-05 10:39:17,545 INFO sqlalchemy.engine.Engine
CREATE TABLE user_account (
	id INTEGER NOT NULL,
	name VARCHAR(30),
	fullname VARCHAR,
	PRIMARY KEY (id)
)


2022-07-05 10:39:17,546 INFO sqlalchemy.engine.Engine [no key 0.00080s] ()
2022-07-05 10:39:17,550 INFO sqlalchemy.engine.Engine
CREATE TABLE address (
	id INTEGER NOT NULL,
	email_address VARCHAR NOT NULL,
	user_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES user_account (id)
)


2022-07-05 10:39:17,550 INFO sqlalchemy.engine.Engine [no key 0.00070s] ()
2022-07-05 10:39:17,553 INFO sqlalchemy.engine.Engine COMMIT

In [19]:
spongebob = User(
    name="spongebob",
    fullname="Spongebob Squarepants",
    addresses=[Address(email_address="spongebob@sqlalchemy.org")],
)
sandy = User(
    name="sandy",
    fullname="Sandy Cheeks",
    addresses=[
        Address(email_address="sandy@sqlalchemy.org"),
        Address(email_address="sandy@squirrelpower.org"),
    ],
)
patrick = User(name="patrick", fullname="Patrick Star")

In [20]:
spongebob

User(id=None, name='spongebob', fullname='Spongebob Squarepants')

In [21]:
from sqlalchemy.orm import Session

with Session(engine) as session:
    spongebob = User(
        name="spongebob",
        fullname="Spongebob Squarepants",
        addresses=[Address(email_address="spongebob@sqlalchemy.org")],
    )
    sandy = User(
        name="sandy",
        fullname="Sandy Cheeks",
        addresses=[
            Address(email_address="sandy@sqlalchemy.org"),
            Address(email_address="sandy@squirrelpower.org"),
        ],
    )
    patrick = User(name="patrick", fullname="Patrick Star")
    session.add_all([spongebob, sandy, patrick])  # session.add()
    session.commit()

2022-07-05 10:39:28,186 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-05 10:39:28,189 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?)
2022-07-05 10:39:28,190 INFO sqlalchemy.engine.Engine [generated in 0.00122s] ('spongebob', 'Spongebob Squarepants')
2022-07-05 10:39:28,192 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?)
2022-07-05 10:39:28,193 INFO sqlalchemy.engine.Engine [cached since 0.004406s ago] ('sandy', 'Sandy Cheeks')
2022-07-05 10:39:28,195 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?)
2022-07-05 10:39:28,196 INFO sqlalchemy.engine.Engine [cached since 0.007133s ago] ('patrick', 'Patrick Star')
2022-07-05 10:39:28,198 INFO sqlalchemy.engine.Engine INSERT INTO address (email_address, user_id) VALUES (?, ?)
2022-07-05 10:39:28,199 INFO sqlalchemy.engine.Engine [generated in 0.00109s] ('spongebob@sqlalchemy.org', 1)
2022-07-05 10:39:28,203 INFO sqlalchemy.engine.Engine INSERT INTO address (email_address, user_id) VALUES (?, ?)
2022-07-05 10:39:28,204 INFO sqlalchemy.engine.Engine [cached since 0.005243s ago] ('sandy@sqlalchemy.org', 2)
2022-07-05 10:39:28,204 INFO sqlalchemy.engine.Engine INSERT INTO address (email_address, user_id) VALUES (?, ?)
2022-07-05 10:39:28,205 INFO sqlalchemy.engine.Engine [cached since 0.006657s ago] ('sandy@squirrelpower.org', 2)
2022-07-05 10:39:28,206 INFO sqlalchemy.engine.Engine COMMIT

In [22]:
from sqlalchemy import select

session = Session(engine)

stmt = select(User).where(User.name.in_(["spongebob", "sandy"]))

for user in session.scalars(stmt):
    print(user)

2022-07-05 10:46:48,323 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-05 10:46:48,332 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name IN (?, ?)
2022-07-05 10:46:48,334 INFO sqlalchemy.engine.Engine [generated in 0.00181s] ('spongebob', 'sandy')
User(id=1, name='spongebob', fullname='Spongebob Squarepants')
User(id=2, name='sandy', fullname='Sandy Cheeks')

In [23]:
# select with join
stmt = (
 select(Address)
 .join(Address.user)
 .where(User.name == "sandy")
 .where(Address.email_address == "sandy@sqlalchemy.org")
)
sandy_address = session.scalars(stmt).one()


sandy_address

2022-07-05 10:47:00,201 INFO sqlalchemy.engine.Engine SELECT address.id, address.email_address, address.user_id
FROM address JOIN user_account ON user_account.id = address.user_id
WHERE user_account.name = ? AND address.email_address = ?
2022-07-05 10:47:00,203 INFO sqlalchemy.engine.Engine [generated in 0.00166s] ('sandy', 'sandy@sqlalchemy.org')

Address(id=2, email_address='sandy@sqlalchemy.org')

#### sqlalchemy connect to postgresql db

In [ ]:
from tokenize import String
from sqlalchemy import Column, Integer, String, create_engine
# DB_USER="postgres"
# DB_PASS="postgres"
# IP="127.0.0.1"
# DB_PORT=5432
# # DB_NAME="demodb"

# make sure postgresql docker container is started

# db = create_engine(f'postgresql://{DB_USER}:{DB_PASS}@{IP}:{DB_PORT}')
# db.execute("use database demodb")
# db.execute("""select * from mytable""")

## SQLAlchemy with Pandas

#### create a SQL table from Pandas Dataframe

In [ ]:
import pandas
import sqlalchemy
 
# Create the engine to connect to the PostgreSQL database
engine = sqlalchemy.create_engine('postgresql://postgres:test1234@localhost:5432/sql-shack-demo')
 
# Read data from CSV and load into a dataframe object
df = pandas.read_csv('C:/temp/pandas-db-sqlshack-demo/pandas-env/superstore.csv')
 
# Write data into the table in PostgreSQL database
# df.to_sql('superstore',engine)
from sqlalchemy.types import Integer, Text, String, DateTime



df.to_sql(
    'nyc_jobs',
    engine,
    if_exists='replace',
    index=False,
    chunksize=500,
    dtype={
        "job_id": Integer,
        "agency": Text,
        "business_title": Text,
        "job_category":  Text,
        "salary_range_from": Integer,
        "salary_range_to": Integer,
        "salary_frequency": String(50),
        "work_location": Text,
        "division/work_unit": Text,
        "job_description": Text,
        "posting_date": DateTime,
        "posting_updated": DateTime
    }
)

#### Create DataFrame from SQL Table

In [ ]:
table_df = pd.read_sql_table(
    table_name,
    con=engine
)

#  more explicit
table_df = pd.read_sql_table(
    "nyc_jobs",
    con=engine,
    schema='public',
    index_col='job_id',
    coerce_float=True,
    columns=[
        'job_id',
        'business_title',
        'job_category',
        'posting_date',
        'posting_updated'
    ],
    parse_dates=[
        'created_at',
        'updated_at'
    ],
    chunksize=500
)

#### Create DataFrames From Query Results

In [ ]:
sql_df = pd.read_sql(
    "SELECT * FROM nyc_jobs",
    con=engine,
    parse_dates=[
        'created_at',
        'updated_at'
    ]
)